body {
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  line-height: 1.5rem;
  background-image: "week5\images\scoutbackground.JPG";
  /* background-repeat: no-repeat;
  background-size: cover; */
}
/* i know we are supposed to have a background color but i wanted to add a photo. Couldn't get it working 😭 */

body {
  /* background-image: url("images/scoutbackground.JPG"); */
  background-color: white;
  /* box-shadow: 3rem 3rem black; */
}

h1 {
  color: #93656e;
  font-size: 2.5rem;
  text-transform: capitalize;
}

h2 {
  color: #93656e;
  font-size: 2.5rem;
  text-transform: capitalize;
}

h3 {
  color: white;
  font-size: 1.5rem;
  text-transform: capitalize;
}

header,
footer {
  color: white;
  margin: 0 auto;
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  padding: 2rem;
  background-color: #487e91;
}

header {
  display: grid;
  grid-template-columns: 6rem 1fr;
  align-items: center;
  justify-content: center;
}

footer {
  width: 4rem auto;
  height: auto;
}
li {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {
  margin: 1rem auto;
  border: 2rem;
  padding: 1rem;
  /* background-image: ("images/scoutbackground.jpg"); */
  background-color: #c2f9ff;
}

p {
  color: black;
}

/* class selectors */
.mainnav {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
}

.mainnav li {
  flex: 1 1 auto;
}

.mainnav a {
  color: #487e91;
  display: block;
  padding: 1rem;
  text-decoration: none;
  background-color: rgb(255, 255, 255, 1);
  border: 1px solid #000;
  position: relative;
  font-size: 1.5rem;
}

.mainnav a:hover {
  color: black;
  background-color: #d60000;
  height: 115px;
  width: 200px;
  align-items: center;
}

.logo {
  display: block;
  width: 5rem;
  height: auto;
}

/* .heroimage {
} */

.page {
  width: 960px;
  margin: 0 auto;
}

.socialmedia {
  display: grid;
  grid-template-columns: repeat(1) 11rem 5fr;
  grid-gap: 5px;
  /* align-items: center;
  justify-content: center; */
}

.shadowimage {
  box-shadow: 10px 5px 5px red;
}
