body {
  background: linear-gradient(white, rgba(0, 0, 0, 0.5));
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5rem;
}

header {
  width: 100%;
}

h2,
h3 {
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main,
footer {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}
/* C L A S S   S E L E C T O R S */
:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.title {
  text-align: center;
}

.headbox {
  width: 960px;
  margin: 0 auto;
  padding: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

.nav {
  display: flex;
  list-style: none;
  width: 50%;
}

.home,
.products,
.aboutus {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0.1rem;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  width: 50%;
  box-shadow: 0 0.1rem 0.2rem red;
  text-align: center;
  background-color: white;
}

.home:hover,
.products:hover,
.aboutus:hover {
  /* background-color: black; */
  color: white;
  transition: 100ms ease-in-out;
  box-shadow: none;
  background-color: black;
  box-shadow: 0 -0.1rem 0.2rem inset white;
}

.active {
  font-weight: bold;
  box-shadow: 0 0.2rem 0.2rem red;
}

.heroimage:hover {
  filter: blur(3px) opacity(50%);
  transition: 100ms ease-in-out;
}

.heroimage {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 1;
}

.herobox {
  display: grid;
}

.herotext {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 2;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 5rem;
  font-weight: bold;
  opacity: 0%;
}

.herobox:hover .herotext {
  opacity: 100%;
  transition: 100ms ease-in-out;
  text-shadow: 0rem 0rem 0.25rem white;
}

.herotext:hover .heroimage .herobox {
  filter: blur(3px);
}

.banner {
  display: grid;
  padding-top: 2rem;
}

.bannerh2 {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 2;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 4rem;
  font-weight: bold;
}

.bannerh2shop {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 2;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 5rem;
  font-weight: bold;
}

.bannerimg {
  grid-row: 1/2;
  grid-column: 1/2;
  filter: blur(5px);
  filter: opacity(15%);
}

.showcase1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.showcaseimg2 {
  display: flex;
  justify-content: space-evenly;
}

.homeimg {
  padding: 1rem;
}

.hometext {
  font-size: 1.25rem;
  text-align: center;
}

.showcaseimg3 {
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.showcase4 {
  display: flex;
  justify-content: space-between;
}

.persondesc {
  width: 33%;
  padding: 1rem;
}

.imgdesc {
  display: inline;
}

.productlist {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  text-align: center;
  padding: 1rem;
  position: relative;
}

.productitem:hover {
  color: white;
  transition: 100ms ease-in-out;
  box-shadow: none;
  background-color: black;
  box-shadow: 0 -0.1rem 0.2rem inset white;
}

.productitem {
  height: 3rem;
  background-color: white;
  margin: 0.25rem;
  font-size: 1.5rem;
  box-shadow: 0 0.2rem 0.2rem rgb(0, 0, 0);
  border-radius: 0.125rem;
}

.productimg {
  margin: 0.5rem;
}

.text {
  margin: 0.75rem;
}

.productlayout {
  display: flex;
  margin-top: 2rem;
}

.button {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  border-width: 0.1rem;
  border-radius: 0.5rem;

  box-shadow: 0 0.1rem 0.2rem red;
  text-align: center;
  background-color: white;
}

.button:hover {
  color: white;
  transition: 100ms ease-in-out;
  box-shadow: none;
  background-color: black;
  box-shadow: 0 -0.1rem 0.2rem inset white;
}

.socialmedia {
  display: flex;
  justify-content: space-around;
}

.colordemo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.primary {
  background-color: #e539ff;
  width: 500px;
  height: 500px;
}

.secondary {
  background-color: #008b85;
  width: 500px;
  height: 500px;
}

.accent1 {
  background-color: #26fcf2;
  width: 500px;
  height: 500px;
}

.accent2 {
  background-color: #00c2ba;
  width: 500px;
  height: 500px;
}
