body {
  font-size: 16px;
  margin 0;
  padding 0
  background-image: ;
}

h1 {
  color: rgb(216, 22, 22, 1);
  font-size: 2.5rem;
  text-transform: capitalize;
}

header,
main,
footer {
  width: 960px;
}

header {
  margin: 0 auto;
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
}

/* class selectors */
.logo {
  width: 5rem;
  height: auto;
}
.heroimage {
}
